*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
--border:1px solid #ffffff1a; 
}
body, table, input, button{
  font:400 16px/140% 'Roboto',sans-serif;

}
body{
  background-color:#121214 ;
  color: #ffffff;
}
header{
padding: 20px 0px;
}
.conteiner{
max-width: 40em;
margin: 0 auto;
padding: 20px 30px;
}
form{
  border: var(--border);
  border-inline: none;
  padding: 20px 0px;
}
fieldset{
  border:none;
  padding: 0px;
}
fieldset > div{
display: flex;
gap: 14px;
}
.input-wrapper{
  flex: 1px;
  display: flex;
  align-items: center;
  gap: 10px;

  border: var(--border);
  border-radius: 10px;
  padding: 10px;

  font:400 14px/150% 'Roboto', sans-serif;
  color: #c4c4cc;
}
fieldset button{
  width: fit-content;
  border: 0px;
  background: #F48F56;
  border-radius: 10px;
  padding: 10px;

  font:700 12px/24px 'Roboto', sans-serif;
  color: rgba(0, 41, 46, 1);
}
fieldset button:hover{
  background: #fa803a;
}
input{
  all: unset;
}
table{
  border-collapse: collapse;
}
table thead{
  font-size: 14px;
  line-height: 16px;
  }
thead th, tbody td{
  padding: 12px 16px;

}
tbody td{
  border-top: var(--border);
  font-size: 13px;
  line-height: 15px;
  color: #c4c4cc;
}
tbody td strong{
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
tbody td small{
  font-size: 12px;
  line-height: 16px;
}
tbody td button{
  all: unset;
  color: #9ff9cc;

}
tbody td button:hover{
  text-decoration: underline;
}
section h2,fieldset legend{
  font: 700 16px/140% 'Roboto', sans-serif;
  padding-bottom: 16px;
  color: #e1e1e6;
}
.lista-participantes{
  padding: 20px 0px;
}
.lista-participantes >div{
  border: var(--border);
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  /* Estilos para telas menores que 600px de largura */

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas maiores que 600px, mas menores que 1024px */
  .conteiner {
    max-width: 100em;
    margin: 0 auto;
    padding: 20px 30px;
}
fieldset > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input-wrapper{
  width: 25em;
}
}

@media only screen and (min-width: 1025px) {
  /* Estilos para telas maiores que 1024px */
}
